.App {
    display: flex;
    justify-content: center;
    background: #161b2a;
    height: 600px;
    width: 100%;
    font-weight: bold;
    color: #61dafb;
}
.DisplaySet {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
    width: 300px;
    height: 200px;
    border: 2px #61dafb solid;
    border-radius: 20px;

}
.DisplayOut {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
    align-self: center;
    width: 300px;
    height: 200px;
    border: 2px #61dafb solid;
    border-radius: 20px;

}

